<html>
    <head>
        <title>Create Repository</title>
    </head>
    <body>
        <h1>Create Page</h1>    
        </br>
        Input email to associate with repository:
        <input type="text" id="create_email" name="create_email"></br></br>
        Input name of repository:
        <input type="text" id="create_name" name="create_name"><br><br>
        <input type="button" id="new_repo" name="new_repo" value="Start" onclick="location.href = 'http://127.0.0.1:8000/home'">
    </body>
</html>