<html>
    <head>
        <title>Unity Asset Store</title>
    </head>
    <body>
        <h1>Credits Page</h1><br>
        <b>Sponsor</b> - Roger Crawfis<br><br>
        <b>Developers</b><br>
        <table>
            <tr>
                <td>Diego Cepeda</td>
                <td> - Individualized</td>
            </tr>
            <tr>
                <td>Lainey Chylik</td>
                <td> - Database Systems</td>
            </tr>
            <tr>
                <td>Tyler Cingel</td>
                <td> - Information and Computation Assurance</td>
            </tr>
            <tr>
                <td>Will Diroll</td>
                <td> - Individualized</td>
            </tr>
        </table>
        <br>
        This application was written in Python using Django, as well as using SQLite for the backend database.<br>
        <input type="button" name="to_join" id="to_join" value="Back to Join Page" onclick="location.href = 'http://127.0.0.1:8000/join'">
    </body>
</html>