
<html>
    <head>
        <title>Unity Asset Store</title>
    </head>
    <body>
        <h1>Home/Assets Page</h1><br>
        <input type="text" name="asset_search_text" id="asset_search_text">
        <input type="button" name="asset_search_button" id="asset_search_button" value="Search" onclick="">
        <input type="button" name="leave" id="leave" value="Leave" onclick="location.href = 'http://127.0.0.1:8000/join'" style="float: right;">

        <br>

        <table>
            <tr>
                <th>Asset Name</th>
                <th>Asset Link</th>
                <th>Last Updated</th>
                <th>Version Number</th>
                <th>Repos</th>
                <th>Categories</th>
                <th>Labels</th>
            </tr>
            {% for asset in all_assets %}
            <tr>
                <td>{{ asset.AssetName }}</td>
                <td>{{ asset.AssetLink }}</td>
                <td>{{ asset.LastUpdated }}</td>
                <td>{{ asset.VersionNum }}</td>
                <td>{{ asset.Repos.all }}</td>
                <td>{{ asset.category_set.all }}</td>
                <td>{{ asset.label_set.all }}</td>
            </tr>
            {% endfor %}
    </table>
        
    </body>
</html>


