{% load static %}
<html>
    <head>
        <title>Unity Asset Store</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
        <div class="header">
            <h1>Your Assets</h1><br>
        
            <input class="leavebutton" type="button" name="leave" id="leave" value="Leave" onclick="location.href = 'http://127.0.0.1:8000/join'">
        </div>
        <br>

        <table class="assets" border="1">
            <tr>
                <th>Asset Name</th>
                <th>Last Updated</th>
                <th>Version Number</th>
                <th>Image Preview</th>
                <th>Repos</th>
                <th>Categories</th>
                <th>Labels</th>
            </tr>
            {% for asset in all_assets %}
            <tr>
                <td><a href="{{asset.AssetLink}}">{{ asset.AssetName }}</a></td>
                <td>{{ asset.LastUpdated }}</td>
                <td>{{ asset.VersionNum }}</td>
                <td><img src="https://{{ asset.ImgLink }}"/></td>
                <td>
                    <ul>
                        {% for repo in asset.Repos.all %}
                            <li>{{ repo.Name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for category in asset.category_set.all %}
                            <li>{{ category.CategoryName }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for label in asset.label_set.all %}
                            <li>{{ label.LabelName }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
    </table>

    <div class="all_filters">
        <form method="post" action="/home/">
            Categories: <br />
            {% for category in all_categories %}
                {% if category in filter_categories %}
                    <input type="checkbox" name="categories[]" checked="checked" value={{ category }} /> {{ category }} <br />
                {% else %}
                    <input type="checkbox" name="categories[]" value={{ category }} /> {{ category }} <br />
                {% endif %}
            {% endfor %}
            <br />
            Labels: <br />
            {% for label in all_labels %}
                {% if label in filter_labels %}
                    <input type="checkbox" name="labels[]" checked="checked" value={{ label }} /> {{ label }} <br />
                {% else %}
                    <input type="checkbox" name="labels[]" value={{ label }} /> {{ label }} <br />
                {% endif %}
            {% endfor %}
            {% csrf_token %}
            <button type="submit" name="filter_assets">Filter</button>
        </form>
    </div>
        
    </body>
</html>



