<html>
    <head>
        <title>Join A Class</title>
        <link rel="stylesheet" href="styles.css"/>
    </head>
    <body>
        <input type="button" name="to_credits" id="to_credits" value="Credits" onclick="location.href = 'http://127.0.0.1:8000/credits'">
        <h1 align="center">Join a Repo</h1><br>
        <p align="center">
        <label for="class_key">Class Key:</label><br>
        <input type="text" id="class_key" name="class_key"><br>
        <input type="submit" id="submit_key" name="submit_key" value="Join" onclick="location.href = 'http://127.0.0.1:8000/home'"></p>
        </br>
        <h3 align="center">Alternatively, <input type="button" name="create_repo" id="create_repo" value="Create!" onclick="location.href = 'http://127.0.0.1:8000/create'"></h3>
    </body>
</html>