.header {
    padding: 0px;
    text-align: center;
    background: #99c2ff;
    color: black;
    font-size: 50 px;
    margin: 0;     
}

span{
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.leavebutton{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    position: absolute;
    top: 5;
    right: 13;
    float: right;
}

.leavebutton:hover{
    background-color: grey;
    color: black;
}

.assets{
    table-layout: fixed;
    width: 75%;
    float: left;
    margin-left: 20px 
}

.all_filters { 
    border:2px solid #000000; 
    margin-right: 20px;
    margin-left: 20px;
    width:260px; 
    height:auto; 
    display: inline-block;
    overflow-y: scroll; 
}

input.checkbox{
    width:20px;
    height: 20px;
}

.assetheader{
    font-size:25px;
    font-weight: bold;
    padding: 5px;
}

.filters{
    position: absolute;
    top: 77;
    right: 10;
}

.filtertext{
    margin: 5px 0px 5px 10px;
    font-size: 20px;
}

.assettext{
    text-align: center;
    font-size: 16px;
}

.filterbutton{
    background-color: #99c2ff;
    color: black;
    border: none;
    margin: 5px 22px 5px 5px;
    width: 260px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    float: right;
}

.filterbutton:hover{
    background-color: grey;
    color: black;
}

body{
    background-color: white;
    margin: 0;
}

